snippet head1 "First level header"
% ==============================================================================
%`!p import math
snip.rv = ' ' * math.floor((78 - len(t[1]))/2)` ${1:${VISUAL:Header}}
% ==============================================================================
$0
endsnippet

snippet head2 "Second level header"
% ------------------------------------------------------------------------------
%`!p import math
snip.rv = ' ' * math.floor((78 - len(t[1]))/2)` ${1:${VISUAL:Header}}
% ------------------------------------------------------------------------------
$0
endsnippet

snippet head3 "Third level header"
% ${1:${VISUAL:Header}}
% ------------------------------------------------------------------------------
${0}
endsnippet
