# some vim history file
dotfiles/vim/.netrwhist

# ignore vim bundles -- contain only other git repos
dotfiles/vim/bundle/*
dotfiles/!vim/bundle/Vundle*

# ignore python compiled files
*.pyc

# ignore vim swp files
*.swp
