snippet lic "Reactive Robotics License" b
/*
 * Copyright (2016) Reactive Robotics GmbH. All rights reserved.
 */
endsnippet

snippet funcdef "Add function definitions section" b
/*--------------------------- FUNCTION DEFINITIONS ---------------------------*/
${0:functions}
/*------------------------- END FUNCTION DEFINITIONS -------------------------*/
endsnippet
