[Desktop Entry]
Name=tmux
GenericName=tmux
Comment=Use the command line
Exec=st tmux
Icon=utilities-terminal
Type=Application
Categories=System;TerminalEmulator;
